.container {
  display: grid;
  grid-template-columns: 1fr 24px 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "bids divider asks";
  max-width: 1000px;
}

.header {
  grid-area: header;
}

.bids {
  grid-area: bids;
}

.asks {
  grid-area: asks;
}

.divider {
  grid-area: divider;
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
}

.dividerLine {
  width: 0.5px;
  background-color: gray;
}
