.container {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "bids divider asks";
}

@media screen and (max-width: 680px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

.header {
  grid-area: header;
}

.bids {
  grid-area: bids;
}

.asks {
  grid-area: asks;
}

.divider {
  grid-area: divider;
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  background-color: #262626;
}

.spread {
  display: flex;
  margin: 12px 0;
}
