.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  padding: 0 24px;
}

.rowReverse {
  flex-direction: row-reverse;
}

.row > span {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.normalText {
  color: white;
}

.greenText {
  color: green;
}

.redText {
  color: red;
}

.titleText {
  margin-top: 8px;
  color: gray;
  font-weight: bold;
}
